@font-face {
    font-family: Crafty Girls;
    src: url("/site/fonts/CraftyGirls-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PT Mono;
    src: url("/site/fonts/PTMono-Regular.ttf") format("truetype");
}

body {
  background: floralwhite;
  background: url("/site/pics/04.jpg") fixed no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  color: darkslategrey;
  font-family: "PT Mono", monospace;
  line-height: 150%;
  }

a {
  color: palevioletred;
  }
  
a:hover {
  color: skyblue;
  transition: ease-in 0.5s ease-out 0.5s;
  }
  
b, strong {
  color: palevioletred;
  }
  
h1, h2, h3, h4, h5, .nav {
  font-family: "Crafty Girls", display;
  }
  
h1, h2, h3, h4, h5 {
  line-height: 125%;
  }
  
blockquote {
  border-left: 2px solid palevioletred;
  padding: 0.1px 0.75em;
  margin-left: 1.25em;
  background: f;
  }
  
hr {
  margin: 1.75rem 0;
  height: 1px;
  border:0;
  background: darkslategrey;
  }
  
.header-gap {
  height: 500px;
  }

.page-wrapper {
  background: floralwhite;
  background: rgba(255, 250, 240, 0.95);
  margin: 0 auto;
  padding: 0.1px 0;
  }

.top-section, .main, .footer {
  width: 900px;
  margin: 0 auto;
  padding: 0.1px 0;
  }

.main img, .top-section img, .footer img, .left img, .right img {
  max-width: 100%;
  height: auto;  
  }

.top-section-wrapper {
  background: floralwhite;
  padding: 1rem 0 2rem 0;
  }

.top-section {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  }

.left, .right {
  display: inline-block;
  }

.left h1 {
  font-size: 1.4rem;
  }

.left h1, .right {
  padding-top: 1.35rem;
  margin-top: 0;
  }
  
.left p {
  font-size: 0.85rem;
  }

.left {
  width:450px;
  }

.right {
  float: right;
  }

.right .nav {
  max-width: 440px;
  text-align: right;
  }

.nav {
  font-size: 1.075em;
  }

.nav a {
  padding: 0 0.5em 0.5em 0.5em;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  }

.main {
  padding: 1rem 0;
  }
  
.accordion {
  font-family: "Crafty Girls", display;
  background-color: floralwhite;
  color: palevioletred;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: 1px solid palevioletred;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: palevioletred;
  color: floralwhite;
}

.panel {
  padding: 0 18px;
  background-color: floralwhite;
  display: none;
  overflow: hidden;
}

.footer {
  text-align: center;
  font-size: 0.85rem;
  padding: 1.5rem 0 1.75rem 0;
  border-top: 1px solid palevioletred;
  }

.footer .nav a {
  padding: 0 0.35em 0.35em 0.35em;
  }
  
@media(max-width: 920px) {
  .top-section, .main, .footer {
    width: 800px;
    width: calc(100vw - 2rem);
    }
  .left {
      width: 425px;
    }
  .right .nav {
      max-width: 365px;
      max-width: calc(100vw - 435px - 2rem);
    }
  }
  
/*Mobile layout.*/
@media(orientation:portrait), (max-width: 575px) {
  .header-gap {
    height: 60vh;
    }
  
  .top-section, .left, .right .nav, .main, .footer {
    margin: 0 auto;
    width: auto;
    padding:0;
    }
    
  .main, .top-section, .footer {
    margin: 0.1px 1em;
    }
    
  .left, .right, .right .nav {
    display: block;
    text-align: center;
    }
    
  .left, .right, .right .nav {
    float: none;
    width: 100%;
    }
    
  .right .nav {
    max-width: 100%;
    width: 100%;
    }
  }
